In [1]:
import pandas as pd

In [3]:
data = pd.read_excel("data.xlsx",
                    usecols=["input","output"])
data.head(5)

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10

In [4]:
X, Y = data.input.values , data.output.values
print(X)
print(Y)

[ 1  2  3  4  5  6  7  8  9 10]
[ 2  4  6  8 10 12 14 16 18 20]

In [5]:
training_ratio = 80

In [6]:
print("Training Ratio, get index", int(len(data)*training_ratio/100))

Training Ratio, get index 8

In [8]:
X_train = X[ :int(len(data)*training_ratio/100)]#start-7index-1
Y_train = Y[ :int(len(data)*training_ratio/100)]#start-7index-1


X_test = X[int(len(data)*training_ratio/100): ]#7index - endindex
Y_test = Y[int(len(data)*training_ratio/100): ]#7index - endindex

print("Training X:",X_train,"Y:",Y_train)
print("Testing X",X_test,"Y",Y_test)

Training X: [1 2 3 4 5 6 7 8] Y: [ 2  4  6  8 10 12 14 16]
Testing X [ 9 10] Y [18 20]

# data spliting for ML model (Ratio)
* 70% for training 30% for testing
* 80% for training 20% for testing
* 60% for training 40% for testing

* 60% for training, 20% validation, 20% for Testing

# Train and test data distribution with sklearn library

In [9]:
data.head()

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10

In [10]:
X = data['input'].values
Y = data['output'].values

X

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [11]:
Y

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20], dtype=int64)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
train_test_split(X,Y,
                test_size=0.3)

[array([ 6,  4,  9,  3, 10,  1,  7], dtype=int64),
 array([5, 8, 2], dtype=int64),
 array([12,  8, 18,  6, 20,  2, 14], dtype=int64),
 array([10, 16,  4], dtype=int64)]

In [14]:
train_test_split(X,Y,
                test_size=0.3, shuffle=False)

[array([1, 2, 3, 4, 5, 6, 7], dtype=int64),
 array([ 8,  9, 10], dtype=int64),
 array([ 2,  4,  6,  8, 10, 12, 14], dtype=int64),
 array([16, 18, 20], dtype=int64)]

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=False)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[1 2 3 4 5 6 7]
[ 8  9 10]
[ 2  4  6  8 10 12 14]
[16 18 20]

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=True)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[10  2  5  9  1  4  6]
[8 7 3]
[20  4 10 18  2  8 12]
[16 14  6]

## K Fold cros validation (Home work)

### Cross Validation:
When adjusting models we are aiming to increase overall model performance on unseen data. Hyperparameter tuning can lead to much better performance on test sets. However, optimizing parameters to the test set can lead information leakage causing the model to preform worse on unseen data. To correct for this we can perform cross validation.

To better understand CV, we will be performing different methods on the iris dataset. Let us first load in and separate the data.

from sklearn import datasets

X, y = datasets.load_iris(return_X_y=True)

There are many methods to cross validation, we will start by looking at k-fold cross validation.

### K-Fold :
The training data used in the model is split, into k number of smaller sets, to be used to validate the model. The model is then trained on k-1 folds of training set. The remaining fold is then used as a validation set to evaluate the model.

As we will be trying to classify different species of iris flowers we will need to import a classifier model, for this exercise we will be using a DecisionTreeClassifier. We will also need to import CV modules from sklearn.

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, cross_val_score

With the data loaded we can now create and fit a model for evaluation.

clf = DecisionTreeClassifier(random_state=42)

Now let's evaluate our model and see how it performs on each k-fold.

k_folds = KFold(n_splits = 5)

scores = cross_val_score(clf, X, y, cv = k_folds)

It is also good pratice to see how CV performed overall by averaging the scores for all folds.

In [17]:
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, cross_val_score

X, y = datasets.load_iris(return_X_y=True)

clf = DecisionTreeClassifier(random_state=42)

k_folds = KFold(n_splits = 30)

scores = cross_val_score(clf, X, y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  0.8 1.  1.  0.8 0.8 0.8 1.
 1.  1.  1.  0.8 1.  0.8 1.  0.8 0.6 0.8 1.  1. ]
Average CV Score:  0.9333333333333333
Number of CV Scores used in Average:  30

In [18]:
import re

x = """
You4:40 PM
i'm audio able or not?
Syed Zaim Nazir4:41 PM
probably you can't hear us
Muhammad Fahad4:41 PM
yes
clearly
Kenneth Fahad4:41 PM
we can hear you
Madiha Obaid Obaid4:42 PM
screen share?
You4:44 PM
https://github.com/EnggQasim/PIAIC_ISLAMABAD_BATCH3/blob/master/9%20to%2012/python/class9(File%20Handling)/File%20Handling.ipynb
Syed Umair Ahmed5:20 PM
Sir 10 minutes ka break deden Namaz ka time
Syed Umair Ahmed6:17 PM
okay sir
You6:31 PM
https://github.com/EnggQasim/PGD_Batch2_Machine_Learning
Kenneth Fahad6:31 PM
33105-4159733-1
Syed Sajjad Ali Shah6:31 PM
1510120026221
Bilal Uddin6:31 PM
4220122191357
Amna Shahid6:31 PM
34603-4824275-6
MUSTAFA NADIMI6:31 PM
5440053241639
Muneeb Abdul Rauf6:31 PM
42301-8154478-7
Zoya Ansari6:31 PM
4220186465696
TARIQ JAMIL6:31 PM
4250182298545
Muhammad Fahad6:32 PM
Muhammad Fahad (CNIC 4210117498405)
Madiha Obaid Obaid6:32 PM
4220105920780
Syed Mohammad Asad Asad6:32 PM
42401-8056136-5
Syed Zaim Nazir6:32 PM
4220171026219
Rizwan Ali6:32 PM
4230174256393
Syed Umair Ahmed6:32 PM
Syed Umair Ahmed
CNIC: 41304-8519667-3
Syed Abbas Abbas6:32 PM
4200034578253
syed daniyal6:32 PM
4250189782769
Farrukh Jalil6:32 PM
Farrukh Jalil
CNIC: 42101-1397876-3
Mustafa6:32 PM
4220106546787
Nadir Ali6:32 PM
4130311530273
mustafa zaidi6:33 PM
Maria Mustafa
4200068281176
Syed Umair Ahmed6:33 PM
Nadir bhai bolo na
mcc-qjtf-rix
"""
x = x.replace('-','')

cnic = list(set(re.findall(r"\b\d{13}\b",x)))
print(len(cnic))

20

In [19]:
df = pd.DataFrame(cnic, columns=["CNIC"])
df

             CNIC
0   1510120026221
1   4200034578253
2   4200068281176
3   3310541597331
4   4210113978763
5   5440053241639
6   4210117498405
7   4220106546787
8   4230181544787
9   4250189782769
10  4230174256393
11  4250182298545
12  4130485196673
13  4220186465696
14  4240180561365
15  4220171026219
16  4130311530273
17  4220105920780
18  3460348242756
19  4220122191357